<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>UDraw ALPHA</title>
    <link href="http://{{source}}/static/style.css" rel="stylesheet" type="text/css">
</head>
<body id = "body">
  {{{body}}}
</body>
</html>
